@model IEnumerable<ConstrucaoCivil.Models.tblFornece>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.modo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_fim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblEquipamento.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblFornecedor.nif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.modo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_fim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblEquipamento.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblFornecedor.nif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_fornece }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_fornece }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_fornece })
        </td>
    </tr>
}

</table>
