@model ConstrucaoCivil.Models.tblEquipamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblEquipamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aquisicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aquisicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_equip }) |
    @Html.ActionLink("Back to List", "Index")
</p>
