@model ConstrucaoCivil.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Civi Construct - Reperar password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/assets/css/core.css">
    <link rel="stylesheet" href="~/Content/assets/css/components.css">
    <link rel="stylesheet" href="~/Content/assets/icons/fontawesome/styles.min.css">
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div id="container" class="page-container">
        <div class="content h-100">
            <div class="row h-100">
                <div id="card-login" class="col-lg-12">
                    <div class="login card auth-box mx-auto my-auto">
                        <div class="card-header text-center">Recuperar Palavra-Passe</div>
                        <div class="card-body">
                            <div class="text-center mt-4 mb-5">
                                <h4>Esqueceu palavra-passe?</h4>
                                <p>Entre o seu email e enviaremos instruções para recuperar palavra-passe.</p>
                            </div>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    @*<input name="username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <input id="btn-recuperar" type="submit" value="Recuperar" class="btn btn-primary btn-lg btn-block " />
                            }
                            <div class="user-links text-center">
                                <a class="d-block small" href="#">@Html.ActionLink("Pagina de Login", "Login")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="~/Content/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/tether.min.js"></script>
<script type="text/javascript" src="~/Content/lib/js/bootstrap.min.js"></script>

<script type="text/javascript" src="~/Content/assets/js/app.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
